@import "../../global.scss";

.navbar {
  background-color: lightcyan;
  width: 100%;
  height: 80px;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 1s ease;

  .wrapper {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }
      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 70px;

        .icon {
          font-size: 30px;
          margin-right: 10px;
        }

        .title {
          font-size: 20px;
          font-weight: 400;
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 1s ease;
        }
        .line1 {
        }
        .line2 {
        }
        .line3 {
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: lightcyan;

    .hamburger {
      span {
        &:first-child {
          background-color: lightcyan;
          transform: rotate(45deg);
          margin-left: 1px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: lightcyan;
          transform: rotate(-45deg);
          margin-left: 1px;
        }
      }
    }
  }
}
